.cart_main{
    display: flex;
    margin-top: 40px;    
}
.cart_left_box{
    
    padding: 20px;
}
.cart_left_box_btn {
    
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 40px;
}

.btn_shop{
    
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    background-color: rgb(237,165,21);
    border-radius: 20px;
}
.btn_clear{
    width: 120px;
    height: 40px;
    color: red;
    border: 2px solid rgb(237,165,21);
    border-radius: 20px;
    background-color: white;
}
.btn_update{
    width: 120px;
    height: 40px;
    color: gray;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: white;
}
.bill{
    margin-top: -20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(226,244,255);
   
}
.cart_total_blue{
    border: 1px solid gray;
   padding: 4px;

}
.cart_total{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: rgb(226,244,255);
}
.check{
    color: white;
    height: 40px;
    width: 200px;
    background-color: orange;
    border-radius: 20px;
    border: none;
}
.coupon{
    height: 30px;
    width: 200px;
}
.country{
    height: 30px;
    width: 200px;
}
.country, .coupon{
    border:1px solid gray;
    border-radius: 10px;
}